spring:
  application:
    name: erp-ia

  profiles:
    active: dev

  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  pattern:
    console: "%d{ISO8601} [%X{correlationId:-no-correlation}] %-5level %logger{36} - %msg%n"
